header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  color: yellow;
}

.main {
  display: flex;
  flex-direction: row;
}

.input-boxes {
  height: 350px;
  width: 50%;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}

.create-button {
  height: 30px;
  width: 80px;
  background-color: springgreen;
  margin-top: 20px;
  border-radius: 6px;
}

.display {
  height: 300px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.display-output {
  height: 350px;
  width: 50%;
  background-color: darkorange;
}

.save-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.saved-boxes {
  height: 350px;
  width: 100%;
  background-color: rgb(125, 219, 219);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}